<footer>
  <div
    class="d-flex justify-content-between align-items-center"
    id="footer-container"
  >
    <span>&copy; Shantanu Pathak</span>
    <span>&lt; the hex /&gt;</span>
  </div>
</footer>
