<div class="bg-galaxy body-div">
    <div style="padding-top: 11%;">
        <form action="/reset-password" method="POST" id="form-container"
            class="d-flex flex-column justify-content-between" style="height: 45%;">
            <div style="color: black;">
                <h5 style="text-align: center; margin-bottom: 4%;">Reset your password</h5>
                <p style="font-size: smaller;">
                    Enter your user account's verified email address and we will send you a password reset link.
                </p>
            </div>
            <input class="form-input" type="email" name="email" placeholder="Email address">
            <input class="form-input" type="submit" value="Send password reset email"
                style="background-color: #4ba550; color: white;">
        </form>
    </div>
</div>

<%- include("_footer"); %>