<div class="bg-galaxy body-div">
    <div style="padding-top: 11%;">

        <form action="/reset-password/new-password" method="POST" id="form-container"
            class="d-flex flex-column justify-content-between" style="height: 45%;">
            <div style="color: black;">
                <h5 style="text-align: center; margin-bottom: 4%;">Enter new password</h5>
                <p style="font-size: smaller;">
                    Enter a new password for your account.
                </p>
            </div>
            <input type="hidden" name="userId" value="<%=locals.user_id%>">
            <input class="form-input" type="password" name="password" placeholder="Enter new password">
            <input class="form-input" type="password" name="confirm-password" placeholder="Confirm password">
            <input class="form-input" type="submit" value="Reset password"
                style="background-color: #4ba550; color: white;">
        </form>

    </div>
</div>

<%- include("_footer"); %>