<title><%= title %></title>

<div class="bg-galaxy body-div">
  <h1 class="text-enter">Welcome to &lt;the hex/&gt;!</h1>

  <form
    action="/users/create-session"
    method="POST"
    id="form-container"
    class="d-flex flex-column justify-content-between"
  >
    <input
      class="form-input"
      type="email"
      name="email"
      placeholder="Email address"
      required
    />
    <input
      class="form-input"
      type="password"
      name="password"
      placeholder="Password"
      required
    />
    <button type="submit" class="form-input submit-btn">Log In</button>
    <a href="/reset-password" class="forgot-password"
      >Forgotten password?
      <hr style="margin-top: 8px; margin-bottom: 8px; color: black" />
    </a>
    <div style="color: black; text-align: center">
      <a
        href="/users/sign-up"
        class="form-input"
        style="background-color: #55b72d"
        >Create New Account</a
      >
      <p style="margin-top: 10px; margin-bottom: 0px">OR</p>
    </div>
    <div class="google-container">
      <a href="/users/auth/google" class="form-input google"
        ><i class="fab fa-google"></i> Sign in with Google</a
      >
    </div>
  </form>
</div>

<%- include('_footer') %>
