#home-container {
  width: 100%;
  // height: 93%;
  #feed-posts {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea {
      border-radius: 40px;
      outline: none;
      padding: 3%;
      margin-bottom: 3%;
      background-color: #f0f2f5;
      padding-bottom: 5%;
    }
    textarea:focus {
      border-width: 3px;
      border-color: rgb(111, 199, 240);
    }
    #image {
      border-radius: 10px;
      color: white;
      cursor: pointer;
      width: 50%;
      text-align: center;
      padding-top: 5px;
      background: linear-gradient(40deg, #ff6ec4, #7873f5);
      border: none;
    }
  }
  #user-friends {
    width: 30%;
    padding: 40px 0px 0px 0px;
    border-left: solid black 2px;
    p {
      padding: 2%;
      background-color: greenyellow;
    }
    p:hover {
      background-color: grey;
    }
  }
  .card {
    width: 28rem;
    border-radius: 20px;
    box-shadow: lightgrey 5px 5px 10px;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 50px;
    background-color: white;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    .post-header {
      .post-username {
        font-weight: 500;
        font-size: 1.25rem;
      }
      .delete-post-button {
        color: blue;
      }
      .delete-post-button:hover {
        color: rgb(88, 4, 184);
      }
    }
    .post-content {
      width: 95%;
      border-radius: 30px;
      word-wrap: break-word;
    }
  }
}
