body {
  margin: 0;
  a {
    text-decoration: none;
    color: black;
  }
}

#layout-main {
  padding-top: 7vh;
  background-color: #f0f2f5 !important;
  min-height: 100%;
}

.width-100 {
  width: 100%;
}
