.body-div {
  width: 100%;
  height: 87%;
}

.bg-galaxy {
  background-image: url("/images/milkyway.jpeg") !important;
  background-size: cover;
  color: white;
  .text-enter {
    font-size: 2.2em;
    padding-top: 85px;
    margin-bottom: 3%;
    font-weight: 500;
    text-align: center;
  }
  #form-container {
    height: 68%;
    width: 30%;
    padding: 2%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
  }
  .forgot-password {
    font-size: 0.8em;
    color: #0d6efd;
    text-align: center;
  }
  .form-input {
    border-radius: 10px;
    padding: 2%;
    border: solid 2px #f0f2f5;
  }
  .submit-btn {
    background-color: #1877f2;
    color: white;
  }
  .google {
    text-align: center;
    color: black;
    background-color: #6dbdff;
    box-shadow: 0 4px 7px rgb(0, 0, 40%);
  }
  .google-container {
    text-align: center;
  }
}
