<body style="font-family: Arial,sans-serif;">
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="600"
                    style="border-collapse: collapse; border: 1px solid #cccccc;">
                    <tr align="center" style="height: 230px;">
                        <td style="background: linear-gradient(40deg, #ff6ec4, #7873f5);">
                            <div style="width: 100%;">
                                <h1>
                                    <span> &#60; the hex /&#62; </span>
                                </h1>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <h4>Hi <%=comment.user.name %>,</h4>

                            <p>You have received this mail because you recently commented on a post.</p>

                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div style="width: 70%; border-radius: 20px; padding: 20px; background-color: #f0f2f5;">
                                    <h4 style="margin: 0 !important;">
                                        <%=comment.user.name%>
                                    </h4>
                                    <span>
                                        <%=comment.content%>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 30px 30px; background: linear-gradient(40deg, #ef94a1, #7873f5);">
                            <table width="600" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                <tr style="font-size: x-small;">
                                    <td style="width: 75%;">
                                        <p style="margin: 0;">Shantanu Pathak &copy;</p>
                                    </td>
                                    <td align="right">
                                        <p style="margin: 0;"> the hex</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>