#chat-header-info {
  height: 100%; }
  #chat-header-info span {
    color: white;
    margin-left: 4%; }
  #chat-header-info i {
    margin-right: 4%;
    color: white;
    font-size: 1.8rem; }
  #chat-header-info i:hover {
    cursor: pointer; }

#chat-header {
  z-index: 5;
  height: 50px;
  width: 400px;
  background-color: #1877f2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px; }

#chat-box-popup {
  display: none;
  width: 400px;
  height: 500px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 10px; }
  #chat-box-popup li .style-message {
    border-radius: 20px; }
  #chat-box-popup #chat-message-list {
    overflow: scroll;
    list-style: none;
    height: 80%;
    padding: 10px;
    scroll-behavior: auto; }
    #chat-box-popup #chat-message-list .new-user-joined {
      margin-top: 3%;
      margin-bottom: 3%;
      text-align: center;
      background-color: #f2bfff;
      border-radius: 15px;
      padding: 2%; }
  #chat-box-popup .other-message {
    text-align: left;
    padding: 5px; }
    #chat-box-popup .other-message span {
      width: 70%;
      padding: 15px;
      display: inline-block;
      background-color: white; }
  #chat-box-popup .self-message {
    text-align: right;
    padding: 5px; }
    #chat-box-popup .self-message span {
      width: 70%;
      padding: 15px;
      display: inline-block;
      background-color: #dcf8c6; }
  #chat-box-popup #chat-message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #chat-box-popup #chat-message-input-container input[type="text"] {
      width: 70%;
      border: solid 2px #f0f2f5;
      border-radius: 10px;
      padding: 2%; }
    #chat-box-popup #chat-message-input-container #send-message {
      padding: 2%;
      width: 25%;
      background-color: #55b72d;
      color: white;
      border: solid 2px #f0f2f5;
      border-radius: 10px;
      margin-bottom: 0 !important; }
