header {
  position: fixed;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 10;
  width: 100%;
  height: 7vh;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #ff6ec4, #7873f5);
  display: flex;
  justify-content: space-between; }
  header #header-user-info:hover {
    background-color: white;
    border-radius: 34px;
    padding-right: 7px; }
  header #header-sign-out:hover {
    border-radius: 34px;
    background-color: white; }
  header #logo {
    font-size: 2rem;
    font-weight: bold; }
  header #signup-signin {
    font-weight: bold;
    font-size: 14px;
    width: 15%; }
  header #signup:hover {
    background-color: white;
    border-radius: 34px; }
  header #signin:hover {
    background-color: white;
    border-radius: 34px; }
  header #search-user-form {
    margin: 0px;
    display: flex;
    align-items: center; }
