#home-container {
  width: 100%; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #home-container #feed-posts textarea {
      border-radius: 40px;
      outline: none;
      padding: 3%;
      margin-bottom: 3%;
      background-color: #f0f2f5;
      padding-bottom: 5%; }
    #home-container #feed-posts textarea:focus {
      border-width: 3px;
      border-color: #6fc7f0; }
    #home-container #feed-posts #image {
      border-radius: 10px;
      color: white;
      cursor: pointer;
      width: 50%;
      text-align: center;
      padding-top: 5px;
      background: linear-gradient(40deg, #ff6ec4, #7873f5);
      border: none; }
  #home-container #user-friends {
    width: 25%;
    min-height: 94vh;
    margin-right: 5%;
    position: sticky;
    top: 0;
    padding: 40px 0px 0px 0px;
    border-left: solid black 2px; }
    #home-container #user-friends #friends-list {
      position: sticky;
      top: 10%;
      height: 77vh;
      overflow: scroll; }
    #home-container #user-friends a {
      display: block;
      border: 2px solid #249cec;
      border-radius: 15px 50px 30px;
      padding: 2%;
      background-color: white;
      transition: ease-in-out;
      transition-duration: 0.3s; }
    #home-container #user-friends a:hover {
      background-color: #fac563;
      margin-left: 7%;
      border-radius: 12px;
      font-weight: 600;
      color: black; }
  #home-container .card {
    width: 28rem;
    border-radius: 20px;
    box-shadow: lightgrey 5px 5px 10px;
    padding: 1rem;
    padding-bottom: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 50px;
    background-color: white;
    word-wrap: break-word;
    display: flex;
    flex-direction: column; }
    #home-container .card .post-header .post-username {
      font-weight: 500;
      font-size: 1.25rem; }
    #home-container .card .post-header .delete-post-button {
      color: blue; }
    #home-container .card .post-header .delete-post-button:hover {
      color: #5804b8; }
    #home-container .card .post-content {
      width: 95%;
      border-radius: 30px;
      word-wrap: break-word; }
