.posts-list-container {
  word-break: break-word;
  display: flex;
  flex-direction: column; }
  .posts-list-container .post-comments {
    display: none; }
  .posts-list-container .show-post-comments {
    display: block;
    border-style: solid;
    border-color: #acafb3;
    border-width: 1px 0px 0px 0px;
    padding-top: 30px; }
    .posts-list-container .show-post-comments span {
      font-size: 0.95rem; }
    .posts-list-container .show-post-comments .all-comments-container {
      margin-left: 1%;
      background-color: #f0f2f5;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1% 5% 1% 5%; }
      .posts-list-container .show-post-comments .all-comments-container .comments-title {
        display: flex;
        justify-content: space-between; }
  .posts-list-container .comment-count:hover {
    cursor: pointer;
    text-decoration: underline; }
  .posts-list-container .like-comment-bottom {
    padding: 2px 8px 2px 8px;
    border-style: solid;
    border-color: #acafb3;
    border-width: 1px 0px 0px 0px;
    display: flex;
    padding: 4px 0px 4px 0px;
    justify-content: center;
    align-items: center; }
    .posts-list-container .like-comment-bottom .like {
      cursor: pointer;
      margin-right: 50px;
      padding: 2%; }
    .posts-list-container .like-comment-bottom .liked {
      border-radius: 10px;
      background-color: #f8f9fa;
      color: blue; }
    .posts-list-container .like-comment-bottom .not-liked {
      background-color: white;
      color: black; }
    .posts-list-container .like-comment-bottom .not-liked:hover {
      border-radius: 10px;
      background-color: #f8f9fa;
      color: blue; }
    .posts-list-container .like-comment-bottom .comment {
      cursor: pointer;
      padding: 2%;
      margin-left: 50px; }
    .posts-list-container .like-comment-bottom .comment:hover {
      border-radius: 10px;
      background-color: #f8f9fa; }
